@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background:#ebc999;
    font-family: Oswald, sans-serif;
    margin:0px ;
    color:#cd7700;
}
		
.wrapper{
    margin:0px auto;
    max-width:1280px;
    position:relative;
}

/* header and navigation*/

header #page_title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2rem;
    color:#cd7700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-title {
    background-color: #4d3227;
}

h1.section-title{
    text-align:center;
    font-size: 2.5rem;
    flex: 0 0 100%;
    background-color: #4d3227;
}

h2.section-title{
    text-align:center;
    font-size: 1rem;
    
}

#menu {
    font-size: 1.5rem;
    letter-spacing: 4px;
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu li {
    list-style-type: none;
    display:inline-flex;
	margin:10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
	border-bottom: 2px solid transparent;
}

#menu a:hover {
    border-bottom-color: #cd7700;  
}

/* end of navigation and header*/

/* welcome */
.t-center{
	text-align:center;
}
#castle-outer {
    width: 100%;
    overflow: hidden;
}

.image_container img {
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
}

.image_container.t-center{
	padding: 10px 0px 5px 0px;
}
/*section brothers*/

.flex-container{
    display: flex;
    flex-wrap: wrap;
}


.brothers-section {
    background-color: #ebc999;
	flex-direction:row;
}
.brothers-section .card{
    width: calc(25% - 1rem);
    margin-right:1rem;
}

.brothers-section .paragraph-bg{
    font-size:1rem;
    padding:5px 20px;
}

.brother-title {
    padding: 10px 20px;
    margin-bottom: -8px;
    font-size: 1.5rem;
    text-align: center;
    min-height: 131px;
}
.brothers-section .paragraph-bg,
.brothers-section h2{
    background-color: #ebc999;
    color: black;
}
.brothers-section .image_container{
    width: 100%;
	height: 500px;
}
.brothers-section .image_container img {
    width: 100%;
}

/* section brothers ending*/

/* section 3*/

.events-conclusion{
    width: 100%;
    margin: 0 auto;
}
.events-conclusion .card{
    color:black;
	padding:0px 1rem;
}

.unordered-list{
    list-style:none;
}

/* section 3 end*/

/*Footer*/

footer {
    height: 150px;

}

.unordered-list {
    text-align: center;
}

.unordered-list > li {
    display: inline;
}

.unordered-list i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

/*Footer end*/

/*@media responsiveness*/


@media screen  and (min-width:900px) and (max-width:1200px) { 

	
	.brothers-section .image_container{
		height: 280px;
	}
}


@media screen  and (max-width:900px)  { 


	.brothers-section .card{
		width:50%;
		margin-right:0rem;
	}
}

 /* */
@media screen  and (max-width:650px)  { 
	header #page_title{
		font-size: 1rem;
	}
	
	.brother-title{
		min-height:0px;
	}

    .brothers-section .image_container{
        height:auto;
    }

	.brothers-section .card{
		width:100%;
		margin-right:0rem;
		margin-bottom:1rem;
	}
	
	#menu {
		font-size: 1rem;
	   
	}
}

/* @media responsiveness ends*/