@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
  font-family: lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
  background-color: #ebc999;
  
}

/* header and navigation links*/

#logo {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: #cd7700;
    background-color: #ebc999;
    text-decoration: none;
}

nav ul {
    text-align: center;
    text-size-adjust: 100%;
    background-color: #4d3227;
    list-style: none;
    
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #cd7700;
    display: block;
}

nav a:hover {
    background-color:#cd7700 ;
    color: #4d3227;
    border-bottom: 1px solid #4d3227;
    
}

/*section1*/
