@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
  font-family: lato, sans-serif;
  font-weight: 300;
  color: #cd7700;
  background-color: #ebc999;
  height: 600px;
  width: 100%;

}



/* header and navigation links*/

#logo {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #cd7700;
    text-align: center;
    background-position-x: center;
    float: left;
    font-size: 280%;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logofix {
    text-decoration: none;
    text-align: center;
    color: #cd7700;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-size-adjust: 100%;
    background-color: #4d3227;
    list-style: none;
    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #4d3227;  
}

.active {
    border-bottom: 1px solid #4d3227;
}


/*introduction headers*/

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}


/*introdcution images*/


#container {
    background-color: #3a3a3a;
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-around;
}

.paragraph-bg {
 margin: auto;
 background-color: #4d3227;
}

.image-text {
    background-color: #4d3227; 
    height: 100px;
    width: 450px;
    margin: auto;
    text-align: center;
    color: #cd7700;
    
}

img {
    height: 600px;
    width: 400px;
    margin: auto;
}

/*Footer*/
